
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

/*Colors*/
$black-1: #000000;
$black-2: #060606;
$blue: #2F4858;
$orange: #FFA800;
$orange-washed: #FFCB66;
$yellow: #FFDA16;
$white: #FFFFFF;

@function resize($unit, $ratio){
	$resized: $unit * $ratio;
	@return $resized;
}

//Breakpoints: <0-----------576px(sm)-----------992px(lg)----------------+Inf>

$mobile: 576px;
$tablet: 992px;


html, body {
    width:100%;
    height:100%;
    margin:0;
	overflow-x: hidden;
}

p, h1, h2, h3, h4 { 
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

//----------------------------------------------
// Utilities
//----------------------------------------------

@mixin shadow { text-shadow: 0px 4px 4px rgba(0,0,0,.25); }
.m-text-resize { 
	@media (max-width: 576px) {
		font-size: 14px !important; 
		line-height: 17px !important;
	}
}
.m-text-resize-L { 
	@media (max-width: 576px) {
		font-size: 18px !important; 
		line-height: 22px !important;
	}
}
.t-text-resize-L { 
	@media (max-width: 992px) {
		font-size: 18px !important; 
		line-height: 22px !important;
	}
}

.mb-6 {	margin-bottom: 3.75rem !important; }
.mb-6-m {
	@extend .mb-6;
	@media (max-width: 576px) {margin-bottom: 1.875rem !important}
}
.mb-7 {	margin-bottom: 5.625rem !important; }
.mb-7-m {
	@extend .mb-7;	
	@media (max-width: 576px) {margin-bottom: 4.375rem !important}
}
.mb-8 {	margin-bottom: 7.5rem !important; }
.mb-8-m {
	@extend .mb-8;	
	@media (max-width: 992px) {margin-bottom: 6.25rem !important}
	@media (max-width: 576px) {margin-bottom: 3.75rem !important}
}

.align-center {
	display: flex;
	justify-content: center;
}

.mt-medium {
	margin-top: 9.375rem !important;
	@media (max-width: 576px) {margin-top: 7.5rem !important}
}
.mb-title-alt {
	margin-bottom: 3.125rem;
	@media (max-width: 992px) {margin-bottom: 1.875rem }
	@media (max-width: 576px) {margin-bottom: 1.25rem }
}
//----------------------------------------------
// Text Formats & Headings
//----------------------------------------------


.normal-text {
	font-family: Montserrat;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
}

.nav-text {
	@extend .normal-text;
	color: $black-2;
	font-weight: 500;
}

.p-text {
	@extend .normal-text;
	font-weight: 400;
	color: $blue;
}

.ph-text {
	@extend .normal-text;
	font-weight: 400;
	color: $blue;
	letter-spacing: -0.015em;
}

.entry-lbl {
	@extend .normal-text;
	font-weight: 400;
	color: $blue;
	letter-spacing: -0.015em;
	font-size: 14px;
	text-align: left;
}

.quote-text {
	@extend .normal-text;
	font-size: 24px;
	line-height: 30px;
	font-style: italic;
	color: $blue;
}

.p-text-2 {
	@extend .normal-text;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: $blue;
	@media (max-width: 576px) { font-size: 14px; line-height: 17px }
}

.htext /* Heading Text */ {
	font-family: Oswald;
	font-weight: 500;
	font-size: 48px;
	line-height: 53.35px;
	color: $blue;
	text-transform: uppercase;
	text-align: center;
}

.htext-2 {
	@extend .htext;
	font-size: 24px;
	line-height: 36px;
}

.htext-2-L {
	@extend .htext;
	font-size: 30px;
	line-height: 44.46px;
	@media (max-width: 576px) {
		font-size: 24px;
		line-height: 36px;	
	}
}


.htext-2-resp {
	@extend .htext-2;
	@media (max-width: 576px) {
		font-size: 18px;
		line-height: 26.68px;
	}
}

.bold-quote-text {
	@extend .htext-2-resp;
	text-transform: none;
	color: $white;
}

//----------------------
// Resize ratios:
//----------------------
$r-tablet: .805;
$r-mobile: .490;
$r-mobile-t: .608;

$r-icon: .78;
//----------------------
// Pos & size:
//----------------------
$logo-width: 9.938rem;
$logo-height: 9.125rem;
$logo-left: 6.375rem;
$logo-top: -3.125rem;

$nav-height: 5.813rem;
$border-offset: 5.313rem;

$menu-icon-width-t: 1.55rem;
$menu-icon-height-t: 1.25rem;
$menu-icon-right-t: 7.738rem;
$menu-icon-top-t: 2.188rem;

$menu-icon-width-m: 1.147rem;
$menu-icon-height-m: .925rem;
$menu-icon-right-m: 1.362rem;
$menu-icon-top-m: 1.276rem;

$menu-top: 3.188rem;
$menu-left: 21.563rem;

$about-y: 9.375rem;
$about-y-m: 5rem;

//----------------------------------------------
// Navigation bar
//----------------------------------------------
 
nav {
	position: fixed;
	height: $nav-height;
	width: 100%;
	background-color: white;
	z-index: 4;

	a:hover {
		color: $black-2;
		font-weight: 600;
		text-decoration: underline $orange 3px;
		text-underline-offset: 20%
	}
}

.nav-logo {
	position: absolute;
	width: $logo-width;
	height: $logo-height;
	top: $logo-top;
	left: $logo-left;
	z-index: 100;
	
	@media (max-width: 992px) {
		width: resize($logo-width, $r-tablet);
		height: resize($logo-height, $r-tablet);
		top: resize($logo-top, $r-tablet);
		left: resize($logo-left, $r-tablet);	
	}
}

.nav-border {
	position: inherit;
	width: 100%;
	//height: 2.183rem;
	top: $border-offset;
	z-index: 4;
}

.menu-icon,
.menu-close {
	display: none;
	position: absolute;
	cursor: pointer;
	z-index: 30;
}

.nav-list {
	position: absolute;
	right: 0;
	//min-width: 61.387rem;
	height: auto;
	top: $menu-top;
	left: $menu-left;
	z-index: 5;

	li {
		a { @extend .nav-text }		
		padding-right: 1.688rem;
		
		/* Language ul */		
		ul.lang li {
			display: inline;
			padding-right: .5rem;
			&:not(:first-child):before {
				content: "|";
				font-size: 16px;
				font-weight: 600;
				margin-right: .5rem;
			}			
		}
	}
}

/*Navigation list formatting class for tablet & mobile*/
.menu-list {
	@extend .nav-text;
	font-size: 24px;
	li a { color: $black-1; }
	text-align: center;
	
	position: relative;
	display: flex;
	width: 100vw;
	height: 100vh;
	padding: 6.5rem 0;
	
	background-color: white;
	z-index: 20;
	flex-direction: column !important;	
	
	li {
		li /* Nested list items (lang ul children) */ {
			display: inline;
			&:not(:last-child) { padding-right: 4rem; }
		}
	}
	
	@media (max-width: 576px) { font-size: 18px; }
	@media (min-width: 992px) { visibility: hidden; }
}

.empty-nav-div {
	position: relative;
	width: 100%;
	height: $nav-height;
}

//----------------------------------------------
// Video
//----------------------------------------------
.video-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
	.play-icon {
		cursor: pointer;
		@media (max-width: 576px) { height: 48px; width: 50px; }
	}
	
	.main-vid {
		position: absolute;
		display: none;
		z-index: 3;
	}
	.close-icon {
		position: absolute;
		display: none;
		right: 6%;
		top: 16%;
		z-index: 10;
		cursor: pointer;
		@media (max-width: 576px) { height: 14px; width: 14px; }
	}
	
	.vid-sm { right: 14.5%; }
}

.video-fade {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: black;
	opacity: .8;
}

//----------------------------------------------
// Paragraphs & headings
//----------------------------------------------

.title {
	@extend .htext;
	margin-top: 6.8rem;
	margin-bottom: 3.75rem;
	
	@media (max-width: 992px) {		
		margin-top: 5rem;
		margin-bottom: 3.75rem;
	}
	@media (max-width: 576px) {
		margin-top: 3.125rem;
		margin-bottom: 1.875rem;
		font-size: 36px;
	}	
}

.p-container {
	position: relative;
	text-align: center;
	margin: 0 5rem;
	@media (max-width: 576px) { margin: 0 1.25rem; }
	
	&-vanilla {
		@extend .p-container;		
		margin: $about-y 2.5rem;	
		@media (max-width: 576px) { margin: $about-y-m 1.25rem; }
	}
}

@mixin p-box($max-width) {
	max-width: $max-width;
	position: relative;
	margin: auto;
}
@mixin about($max-width) {
	@extend .p-text;
	@include p-box($max-width);
	
	@media (max-width: 576px) {
		font-size: 12px;
		line-height: 14.63px;
	}
}

.about-hp { 
	@include about(40.875rem);
	@include shadow;
}
.about-idea { @include about(37.875rem); }
.about-dream { 
	@include about(25rem);
	min-height: 9.375rem;
	@media (max-width: 992px) { min-height: 0; max-width: 37.5rem }
}
.about-bus { @include p-box(50.75rem); }
.about-dreambank { 
	@include about(31.25rem);
	display: inline-block;
	@media (max-width: 992px) { max-width: 22rem }
}
.about-
 
//----------------------------------------------
// Gallery
//----------------------------------------------

%gallery-vector {
	position: absolute;
	z-index: 2;
	width: 100%;

	@media (max-width: 576px) { width: initial; }
}

.gallery {
	position: relative;
	margin: $about-y 0;
	@media (max-width: 576px) {
		margin: $about-y-m 0;
	}
	
	&-vec-top {
		@extend %gallery-vector;
		top: -3px;
		@media (max-width: 576px) { top: -15px; }
	}
	&-vec-btm {
		@extend %gallery-vector;
		bottom: -3px;
		@media (max-width: 576px) { bottom: -15px; }
	}
	
	&-quote-container {
		position: absolute;
		left: 50%;
		bottom: 5.625rem;	
		@media (max-width: 992px) { bottom: 4rem; left: 0; padding: 0 1rem}
		@media (max-width: 576px) { bottom: 3.2rem; left: 0}
	}
	
	&-quote {
		position: relative;
		left: -50%;
		max-width: 51.125rem;
		@media (max-width: 992px) { left: 0 }
		@media (max-width: 576px) { left: 0 }		
	}
}
 
.img {
	&-container {
		display: flex;
		width: 100%;
		
		img {
			width: 100%;
			height: auto;
		}
		
		&-single {
			@extend .img-container;
			img {
				@media (max-width: 768px) {
					height: 31.25rem;
					width: auto;
					position: relative;
					left: -10rem;
				}
				@media (max-width: 576px) {
					height: 30rem;
					width: auto;
					left: -24rem;
				}
			}
		}
		
		@media (max-width: 576px) { flex-wrap: wrap-reverse; }
	}
	
	&-row {
		display: flex;
		flex-grow: 1;
		align-items: center;
		
		div { flex-grow: 1; }
		
		&-1 { @media (max-width: 576px) { align-items: flex-start; } } /*  T T  */		
		&-2 { @media (max-width: 576px) { align-items: flex-end; } }   /* _I_I_ */	

	}
 }
 
//----------------------------------------------
// Quote slider
//----------------------------------------------
 
/*  .person-heading {
	 margin-bottom: 1.875rem;
	 @media (max-width: 576px) { margin-bottom: 1.25rem; }
 } */
 
.quote {
	 
	&-block {
		//border: 2px solid $black-2;
		position: relative;
		max-width: 47.5rem;
		margin: 0 auto 12rem;
		@media (max-width: 992px) { margin-bottom: 12rem; }
		@media (max-width: 576px) { margin-bottom: 7.5rem; }
		 
		p { 
			min-height: 7.5rem;
			margin: 1.875rem 0;
			@media (max-width: 576px) {
				min-height: 4rem;
				margin: 1.875rem 0 1.25rem;
				font-size: 12px;
				line-height: 14.63px;
			}
		}
	}
	 
	&-selection {
		 		 
	}
	 
	&-nav-prev {
		//border: 1px solid green;
		transform: scaleX(-1);
		margin-right: 2.9rem;
		opacity: .5;
	} 
}
 
.qpad {
	padding: 0 5.25rem;
	//@media (max-width: 992px) { padding: 0 5.25rem }
	@media (max-width: 576px) { padding: 0 1.25rem }
}

//----------------------------------------------
// Content wrappers
//----------------------------------------------

.button-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	@media (min-width: 1700px) {justify-content: center;}
	//border: 2px solid green;
}

.button-field {
	margin-bottom: 9.375rem;
	padding: 0 5%;
	
	h2 { padding-bottom: 3.125rem; }
	
	@media (max-width: 992px) {
		margin-bottom: 5rem;
		h2 {
			padding-bottom: 1.875rem;
			font-size: 18px;
			line-height: 26.68px;
		}
	}
	@media (max-width: 576px) {
		h2 {padding-bottom: 0.625rem}
	}
}

.p-item {
	position: relative;
	display: flex;
	width: auto;
	align-items: center;
	margin-bottom: 9.375rem;
	padding: 0 5rem;
	p {margin: 0}
	@media (max-width: 992px) {
		margin-bottom: 6.25rem !important;
	}	
	@media (max-width: 576px) {
		margin-bottom: 3.75rem !important;
		padding: 0 1.25rem;
		flex-direction: column;
	}
	
	&-y {
		display: inline-block;
		flex-direction: column;
		max-width: 30rem;
		@media (max-width: 992px) { max-width: 18rem; padding: 0 1rem; }
		text-align: center;
	}
}

.pull {
	&-left {
		text-align: right;
		direction: rtl;
		
		//right: 47%;
		//margin-right: 30rem;
		margin-right: 35%;
		
		@media (min-width: 1900px) { margin-right: 42%; }		
		@media (max-width: 992px) { margin: auto; }
		@media (max-width: 576px) { text-align: center; }
	}
	&-right {
		text-align: left;
		
		//left: 39%;
		//margin-left: 23.75rem;	
		margin-left: 28%;
		
		@media (min-width: 1900px) { margin-left: 35%; }			
		@media (max-width: 992px) { margin: auto; }
		@media (max-width: 576px) { text-align: center; }
	}
}

.p-icon {
	position: relative;
	@media (max-width: 576px) {		
		width: resize(150px, .78);
		height: auto;
		margin: 1.25rem 0 !important;
	}
	&-left {
		@extend .p-icon;
		margin-right: 3.75rem;

	}
	&-right {
		@extend .p-icon;
		margin-left: 3.75rem;

	}

}

//----------------------------------------------
// Miscellaneous
//----------------------------------------------

.vector-wrap {
	position: relative;
	background: url(../img/sponsor-vec.svg);
	background-repeat: no-repeat;
	background-size: 150% 100%;
	@media (max-width: 576px) { background-size: auto 100%; }
	
	width: 100%;
	height: auto;
	
	h2 { padding-top: 5rem; }
	
	margin-top: 5rem;
	border: 1px solid transparent; //?
}

.sized {
	display: flex;
	flex-direction: column;
	height: 33rem;
	@media (max-width: 992px) { height: 33rem; }
	img { margin: 4.7rem auto 2.5rem; }
	@media (max-width: 576px) { 
		height: 29rem;
		img { 
			width: resize(368px, .735); 
			height: auto;
			margin-bottom: 1.875rem;
		}
	}
}

.img-rs {
	&-154 { @media (max-width: 992px) { width: resize(154px, .66); }
			@media (max-width: 576px) { width: resize(154px, .66); }
			height: auto; }			
	&-190 { @media (max-width: 992px) { width: resize(190px, .83); }
			@media (max-width: 576px) { width: resize(190px, .66); }
			height: auto; }
}
.set-mw { max-width: 64rem; }

//----------------------------------------------
// Contact Us
//----------------------------------------------
.contact-div {
	position: relative;
	width: 100%;
	margin: 9.375rem auto;
	text-align: center;
	
	@media (max-width: 576px) {
		margin: 7.5rem auto;
	}
}

.contact-field {
	position: relative;
	display: inline-block;
	margin-bottom: 5rem;
	padding: 0 5%;
	
	h2 { padding-bottom: 3.125rem; }
	
	@media (max-width: 992px) {
		h2 {
			padding-bottom: 1.875rem;
			font-size: 18px;
			line-height: 26.68px;
		}
	}
}

%btn {
	@extend .normal-text;
	font-weight: 500;
	border-radius: 20px;
	border-style: none;
	background-color: $orange;
	color: $white;
	
	&:hover {
		background-color: $yellow;
		cursor: pointer;
	}
	
	&:focus { outline: 0; }
}

.btn {
	&-main {
		@extend %btn;
		width: 233px;
		height: 50px;
	}
	&-send {
		@extend %btn;
		width: 182px;
		height: 62px;
		font-size: 24px;
		border-radius: 30px;
	}
}

.entry-field {
	width: 40rem;
	h2 { 
		margin-bottom: 3.5rem; 
		@media (max-width: 576px) { margin-bottom: 1.875rem; }
	}
	@media (max-width: 576px) { width: 20rem }
}

.form-group {
	@media (max-width: 576px) { margin-bottom: 0.625rem; }
}

.form-control,
.form-control:focus, {
	background-color: rgba(196, 196, 196, 0.4);
}

#data-entry-consent {
	-webkit-appearance: none;
	position: absolute;
	display: inline-block;
	background-color: rgba(196,196,196,0.4);
	padding: 8px;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
	
	&:checked:after {
		content: '\2714';
		font-family: Montserrat;
		font-weight: 600;
		font-size: 14px;
		position: absolute;
		top: -2px;
		left: 2px;
		color: $orange;
	}
}

.info-message {
	font-family: Helvetica;
	font-size: 15px;
	display: none;
	
	&.failure-msg {
		color: rgb(235,35,52);
	}
	
	&.success-msg {
		color: rgb(0,161,5);
	}
}

//----------------------------------------------
// Foooter
//----------------------------------------------

.sponsor-container {
	display: flex;
	width: 100%;
	height: auto;
	padding: 0 10%;
	margin: 5rem 0;
	
	@media (max-width: 992px) { margin: 2.25rem 0 4.25rem }
	@media (max-width: 576px) { margin: 3.75rem 0 }
	
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	
	img {
		width: 15rem;
		max-height: 8rem;
		object-fit: contain;
		margin-bottom: 1rem;
		
		&:not(:last-child) { margin-right: 2rem; }
		
		@media (max-width: 992px){
			width: 12.5rem;
			max-height: 6.5rem;
		}
		
		@media (max-width: 576px){
			width: 7.45rem;
			max-height: 4rem;
			&:not(:last-child) { margin-right: 1rem; }
		}
	}
}

.footer-info {
	@extend .normal-text;	
	position: relative;
	background: url(../img/footer-vec.svg);
	background-repeat: no-repeat;
	background-size: 150% 100%;	
	width: 100%;
	height: auto;
	margin-top: -2.75rem;
	padding: 8rem 4rem 0;
	
	@media (max-width: 576px) {
		padding: 6rem 2rem 2rem;
		background-size: auto 100%;
		margin-top: -4rem;
	}
	
	color: $white;
	font-weight: 500;
	
	.logo-column {
		@media (max-width: 992px) { padding-right: 4rem; }
	}
	.footer-logo {
		width: 11.375rem;
		height: auto;
		cursor: pointer;
		@media (max-width: 1130px) { width: 10.125rem; }
		@media (max-width: 576px) { width: 6.25rem; }
	}
	
	.logo-column ul {
		display: none;
		@media (max-width: 992px) { display: initial; }
	}
	
	.foot-nav {
		li { padding-bottom: 1.25rem; }	
		a {
			text-decoration: none;
			color: $white;
			&:hover {
				//font-weight: 600;
				text-decoration: underline $orange-washed 3px;
				text-underline-offset: 20%
			}
		}
		@media (max-width: 992px) { display: none; }
	}
	
	.org-info {
		@media (max-width: 992px) { display: none; }
	}
	
	.contact-info {
		text-align: right;
		img { margin-left: 1.875rem; }
		
		ul li:last-child { display: none; }
		@media (max-width: 992px) {
			ul li:last-child {
				display: initial;
				font-weight: 700;
			}
			ul li:first-child {
				display: none;
			}
		}
		.socials {
			margin: 2.188rem 0;
		}
		
		@media (max-width: 576px) { text-align: left; }
	}
	
	.org-info,
	.contact-info,
	.logo-column {
		li {
			padding-bottom: 0.75rem;
			&:first-child {
				font-size: 24px;
				padding-bottom: 1.375rem;				
			}
		}
	}
	
	.footer-btm-row {
		div { padding-bottom: 0.25rem; }
		@media (max-width: 992px) { font-size: 16px } 
		@media (max-width: 576px) { font-size: 14px } 
		
		div:first-child {
			@media (max-width: 992px) {
				br.responsive { display: none; }
			}
		}		
		div:last-child {
			text-align: right;
			@media (max-width: 576px) { text-align: left; } 
		}
	}
}




//----------------------------------------------
// Media rules for nav-bar:
//----------------------------------------------

@media screen and (max-width: 1340px) {
	.nav-list li a { font-size: 14px; }
}
@media screen and (max-width: 1200px) {
	.nav-list { left: $menu-left - 6rem; }
}
@media screen and (min-width: 992px) {
	.nav-list { visibility: visible !important; }
	.menu-close { display: none !important; }
}

//Tablet
@media screen and (max-width: 992px) { 	
	nav { height: resize($nav-height, $r-tablet); }	
	.nav-logo {
		//background-color: #FFCB66;
		width: resize($logo-width, $r-tablet);
		height: resize($logo-height, $r-tablet);
		top: resize($logo-top, $r-tablet);
		left: resize($logo-left, $r-tablet);
	}	
	.nav-border { top: resize($border-offset, $r-tablet); }
	.menu-icon,
	.menu-close {
		width: $menu-icon-width-t;		
		height: $menu-icon-height-t;
		top: $menu-icon-top-t;
		right: $menu-icon-right-t;
	}
	.menu-icon { display: initial; }
	.nav-list { visibility: hidden; }
	.empty-nav-div { height: resize($border-offset, $r-tablet) }
}

//Mobile
@media screen and (max-width: 576px) {
	nav { height: resize($nav-height, $r-mobile); }	
	.nav-logo {
		width: resize($logo-width, $r-mobile);
		height: resize($logo-height, $r-mobile);
		top: resize($logo-top, $r-mobile);
		left: resize($logo-left, $r-mobile) - 2rem;
	}
	.nav-border { top: resize($border-offset, $r-mobile); }	
	.menu-icon,
	.menu-close {
		width: $menu-icon-width-m;		
		height: $menu-icon-height-m;
		top: $menu-icon-top-m;
		right: $menu-icon-right-m;
	}
	.empty-nav-div { height: resize($border-offset, $r-mobile) }	
}



















